.forgot_form {
  width: 500px;
  height: 250px;
  background: white;
  text-align: center;
  margin: 79px auto;
  border-radius:10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
}
.forgot_form>h4{
    text-align: left;
    padding: 13px 13px;
    font-size: 24px;
    line-height: 20px;
}
.forgot_form>.form-group>input{
    border-radius: 6px;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    padding: 10px 0 10px 10px;
    width: 444px;
    margin: 10px;
}

.button_right{
    float: right;
}

.button_right>button{
    height: 34px;
    text-align: center;
    padding: 0px 10px;
    margin: 0 6px

}
.button_right>.btn_cancel{
    background-color: #e4e6eb;
    font-weight: bold;
}
.button_right>.btn_search{
    background-color: #1877f2;
    font-weight: bold;
    color: white;
}